# DS 3000/CS 3200 Lab 1

Due: Tuesday May 13 in-class

### Submission Instructions
Upload this `ipynb` file to GitHub, and then to Gradescope.  To ensure that your submitted `ipynb` file represents your latest code, make sure to give a fresh `Kernel > Restart & Run All` just before uploading the `ipynb` file to GitHub and verify that the correct version is represented on Gradescope.

### Tips for success
- Collaborate: bounce ideas off of each other, if you are having trouble you can ask your classmates or Dr. Gerber for help with specific issues, however...
- [(See)](http://www.northeastern.edu/osccr/academic-integrity), i.e. you are welcome to **talk about/discuss** (*not* show or allow each other to copy your answers to) the problems.

# Part 1 (40 points): Intro to Markdown

Use the markdown language below to create your own brief wikipedia-esque description of a topic related to International Government and Politics. 

Your mini-wiki page must include:
- three headers: a title, subtitle and subsubtitle (the #, ##, ### syntax)
- an embedded image from a web address (use an [image hosting site](https://makeawebsitehub.com/free-photo-hosting/) if you'd like to upload your own)
- a **markdown** table of size at least 9 cells (i.e. 3 by 3, or 5 by 2)
- a list in **markdown**
- a link to another website

To practice typing in math mode, also include a LaTeX formula describing how your final grade is going to be calculated based on the syllabus, something like:

$$grade = weight_1*score_1 + weight_2*score_2$$

Please be **brief** in your text.  Aim for roughly 3 sentences total of text.

# Treaties

## A treaty is a formal, legally binding written agreement between sovereign states and/or international organizations that is governed by international law.

### A treaty is a formal, legally binding written agreement between sovereign states and/or international organizations that is governed by international law.A treaty may also be known as an international agreement, protocol, covenant, convention, pact, or exchange of letters, among other terms; however, only documents that are legally binding on the parties are considered treaties under international law.Treaties may be bilateral (between two countries) or multilateral (involving more than two countries). Treaties are among the earliest manifestations of international relations; the first known example is a border agreement between the Sumerian city-states of Lagash and Umma around 3100 BC.International agreements were used in some form by most major civilizations and became increasingly common and more sophisticated during the early modern era.
![image](https://res.cloudinary.com/aenetworks/image/upload/c_fill,w_1200,h_630,g_auto/dpr_auto/f_auto/q_auto:eco/v1/treaty-of-versailles-gettyimages-544274844?_a=BAVAZGDX0)

| Treaty                                   | Date(s) | Key Aspects                                                                                                 |   |   |
|------------------------------------------|---------|-------------------------------------------------------------------------------------------------------------|---|---|
| Treaty of Tordesillas                    | 1494    | Divided newly discovered lands in the Americas between Spain and Portugal.                                  |   |   |
| Treaty of Westphalia                     | 1648    | Ended the Thirty Years' War, establishing the modern state system.                                          |   |   |
| Treaty of Paris (1783)                   | 1783    | Officially ended the American Revolutionary War, recognizing US independence.                               |   |   |
| Treaty of Versailles                     | 1919    | Officially ended World War I, imposing harsh terms on Germany.                                              |   |   |
| Vienna Convention on the Law of Treaties | 1969    | International law treaty that sets out rules on the formation, interpretation, and application of treaties. |   |   |


# Peace Treaties:

1. The Treaty of Versailles (1919): Ended World War I between the Allies and Germany, marking the end of the war and establishing the post-war order. 
2. The Treaty of Utrecht (1713): A series of treaties that largely ended the War of the Spanish Succession. 
3. The Treaty of Ghent (1814): Officially ended the War of 1812 between the U.S. and Great Britain. 
4. The Treaty of Portsmouth (1905): Ended the Russo-Japanese War. 
5. The Treaty of Brest-Litovsk (1918): A separate peace treaty between the Bolshevik government and Germany during World War I. 
6. The Treaty of Guadalupe Hidalgo (1848): Ended the Mexican-American War and ceded vast territories to the U.S. 
7. The Peace of Westphalia (1648): A series of treaties that ended the Thirty Years' War and established the modern state system in Europe. 
8. The Treaty of Tordesillas (1494): Divided the newly discovered lands in the Americas between Spain and Portugal. 

Display equation: $$Homework * 40 + Labs *  20 + Quiz * 40$$

This is a link to the [Wikipedia](https://en.wikipedia.org/wiki/Treaty) website.

# Part 2: Numpy
## Part 2.1: Creating Arrays (10 points)

Create the following two arrays using the NumPy library and then print them out. Call the first array `array_a` and the second array `array_b` (make sure you keep the `import` statement below):

$$\mathbf{array_a} = \begin{bmatrix}3 & 8 & -2 & 3\\
.5 & -1 & 6 & 4\\
-5 & 7 & -42 & 2
\end{bmatrix}$$

$$\mathbf{array_b} = \begin{bmatrix}42 & 38 & 34\\
30 & 26 & 22\\
18 & 14 & 10\\
6 & 2 & -2\\
-6 & -10 & -14
\end{bmatrix}$$

In [54]:
# make sure to import numpy library
import numpy as np

In [55]:
array_a = np.array([[3, 8, -2, 3], [.5, -1, 6, 4], [-5, 7, -42, 2]])
array_b = np.array([[42, 38, 34], [30, 26, 22], [18, 14, 10], [6, 2, -2], [-6, -10, -14]])

In [56]:
# uncomment below to print array_a
array_a

array([[  3. ,   8. ,  -2. ,   3. ],
       [  0.5,  -1. ,   6. ,   4. ],
       [ -5. ,   7. , -42. ,   2. ]])

In [57]:
# uncomment below to print array_b
array_b

array([[ 42,  38,  34],
       [ 30,  26,  22],
       [ 18,  14,  10],
       [  6,   2,  -2],
       [ -6, -10, -14]])

## Part 2.2: Exploring Arrays (15 points)

1. Give the shape, size, ndim, and nbytes for each of the two arrays.
1. Take the transpose of both arrays. Call these `t_array_a` and `t_array_b`.
1. Try to add `array_a` and `t_array_b` (*prove* and *show* you did this with commented out code), then remove the last column of `t_array_b` and try to add them again. In a markdown cell, explain what happened.

In [58]:
array_a.shape
array_b.shape

array_a.size
array_b.size

array_a.ndim
array_b.ndim

array_a.nbytes
array_b.nbytes

t_array_a = array_a.T
t_array_b = array_b.T

# t_array_a + t_array_b
# when I ran this I got this error: operands could not be broadcast together with shapes (4,3) (3,5)
# since the shapes of the transposed arrays are different they can't be added

t_array_b = np.delete(t_array_b, 3, axis = 1)
t_array_b

array([[ 42,  30,  18,  -6],
       [ 38,  26,  14, -10],
       [ 34,  22,  10, -14]])

this successfully deleted the last column of t_array_b turning it into a (3, 4) matrix

# Part 3: Pandas
## Part 3.1: Reading in Data (5 points)

On Canvas is the `train_stations_europe.csv` file. It was adapted from [this Kaggle data set](https://www.kaggle.com/datasets/headsortails/train-stations-in-europe). Read this data set in, using the `id` as the index column, and print the first few rows of the data. Make sure you keep the `import` statement below!

In [59]:
# make sure to import pandas library
import pandas as pd

In [60]:
url = 'train_stations_europe.csv'
train_stations = pd.read_csv(url, encoding='unicode_escape', index_col='id')
train_stations.head()

,name,latitude,longitude,parent_station_id,country,time_zone,is_city,is_main_station,is_airport
id,,,,,,,,,
1,Chateau-Arnoux-St-Auban,44.081790,6.001625,NaN,FR,Europe/Paris,True,False,False
2,Chateau-Arnoux-St-Auban,44.061565,5.997373,1.0,FR,Europe/Paris,False,True,False
3,Chateau-Arnoux Mairie,44.063863,6.011248,1.0,FR,Europe/Paris,False,False,False
4,Digne-les-Bains,44.350000,6.350000,NaN,FR,Europe/Paris,True,False,False
6,Digne-les-Bains,44.088710,6.222982,4.0,FR,Europe/Paris,False,True,False

## Part 3.2: Manipulating Data (20 points)

1. Create a subset of the data set which (a) **includes** only train stations in Belgium and (b) **excludes** all train stations which are **not** in a city. Make sure to save this subset as a new data frame and print the first few rows of the data.
1. Use the `.describe()` function to produce summary statistics for the subset from the previous part. Create a markdown cell and explain:
    - What Series did the `.describe()` function run on? What Series did it not run on? What is the difference, and what does this mean the `.describe()` function is used for?

In [61]:
belgium = (train_stations.country == 'BE') & (train_stations.is_city == False)
subset = train_stations.loc[belgium]
subset

,name,latitude,longitude,parent_station_id,country,time_zone,is_city,is_main_station,is_airport
id,,,,,,,,,
1121,Tournai Frontiere,NaN,NaN,NaN,BE,Europe/Brussels,False,False,False
1122,Froyennes,NaN,NaN,NaN,BE,Europe/Brussels,False,False,False
1313,Mouscron,NaN,NaN,NaN,BE,Europe/Brussels,False,False,False
1354,Quevy Frontiere,NaN,NaN,6003.0,BE,Europe/Brussels,False,False,False
5893,Bruxelles-Midi,50.835374,4.335695,5974.0,BE,Europe/Brussels,False,True,False
...,...,...,...,...,...,...,...,...,...
23235,Poperinge,50.854449,2.736343,NaN,BE,Europe/Brussels,False,False,False
29230,Liege-Guillemins (Busparkplatz),50.624150,5.568310,5995.0,BE,Europe/Brussels,False,False,False
37401,Arcades,50.809722,4.398333,NaN,BE,Europe/Brussels,False,False,False
61114,Anderlecht,50.817900,4.291800,NaN,BE,Europe/Brussels,False,False,False
61121,Charleroi Airport,50.470350,4.471349,NaN,BE,Europe/Brussels,False,False,True

# Part 4: GitHub (10 points)

When you finish the first three parts, give one last restart and run all to this file. Then, go to the [DS 3000 GitHub](https://github.com/eaegerber/ds3000_summer25), fork it and then clone it to your local machine. Then:

- In the forked and cloned ds3000_summer25 repo, make a new branch (`git checkout -b lab-upload`)
- Create a folder with your name (as Dr. Gerber did)
- Navigate to that folder and place this jupyter notebook inside
- Add the file as the change to be committed (`git add .\Lab1_MyName.ipynb`)
- Check `git status`, your changes should be staged
- Commit the changes with a short message (`git commit -m "My message"`)
- Push the repository to GitHub (`git push origin lab-upload`)
- Navigate the the GitHub in the browser and create a pull request
- Once the pull request is merged, you can delete your branch in the "Pull Requests" tab in the browser
- Finally, upload the Lab to Gradescope. When you do so, it will give you the option to do it via GitHub; do that.